*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target
bin
/.project
.DS_Store
.settings
.project
.classpath
dependency-reduced-pom.xml
pom.xml.releaseBackup


# Ignore javascript things

# Ignore IntelliJ Files
.idea
*.iml

# Ignore Static Code Analysis (SCA) Files
*.fpr
*.log

# Ignore local resource configs
resources/*

#  Ignore nodes
krieghb-web/react-tut/node_modules
krieghb-web/scripts/node_modules
*/node_modules

#  Libraries (3rd party)
krieghb-web/lib
krieghb-web/lib/*
